.mainBlock{
	background-color:rgba(255,255,255,0.9);
	box-shadow: -1px 2px 5px 3px rgba(20, 20, 20, 0.6); 
	border-bottom-right-radius:10px;
border-bottom-left-radius:10px;

}
body{
	background-image:url("../img/fond.jpg");
}